################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/Release
/.vs/NeuralNet_vs2017/v15
/Tmpl2017-02_debug.pdb
/Tmpl2017-02_debug.exe
/Tmpl2017-02.pdb
/Tmpl2017-02.exe
/data
/Tmpl2017-02171004.vspx
/Tmpl2017-02171004(1).vspx
/Tmpl2017-02.psess
/Tmpl2017-02-1.psess
/My Amplifier XE Results - Tmpl2017-02
/Tmpl2017-02171006.vspx
/Tmpl2017-02171007.vspx
